# Ignore IntelliJ IDEA directory (In case you use it as an editor)
.idea/

# Ignore isodir directory; it's created by the build
isodir/

# Ignore the cross compilation environment directory. This is built by
# the bootstrap.sh script. The files that are are required by the
# bootstrap process are too large to "vendor in".
xc/

# Ignore object files
*.o

# Ignore targets
*.bin
*.iso
